# EXPERIMENT 3 - RODRIGUEZ, Andrei Joshua
I. Intended Learning Outcomes:
1. To identify the codes and functions incorporated in the Pandas library
2. To be able to apply and use the different codes and functions in creating a Python program using a
Pandas library

In [2]:
import pandas as pd

In [6]:
#Here we load the CSV file into our notebook...
cars = pd.read_csv('cars.csv')

**a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars.**

In [25]:
odd_columns = cars.iloc[:, 1::2].head(5)
odd_columns

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

**b. Display the row that contains the ‘Model’ of ‘Mazda RX4’**

In [23]:
mazda_rx4_row = cars[cars['Model'] == 'Mazda RX4']
mazda_rx4_row

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

**c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?**

In [33]:
camaro_z28_cyl = cars[cars['Model'] == 'Camaro Z28']['cyl'].values[0]
camaro_z28_cyl

8

**d. Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4
Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.**

In [38]:
specific_models = cars[cars['Model'].isin(['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic'])][['Model', 'cyl', 'gear']]
specific_models

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5